.table-section{
    border: 2px solid gold;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    background-color: darkgray;
    text-align: center;
    margin: 50px auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 300px;
}
.anchor-button{
    border: 5px solid gold;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
    background-color: burlywood;
}
.header-menu-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}