<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='custom.css')}}">
    <title>Brawl Stars Map Tracker Dashboard</title>
</head>
<body style="background-color:grey;">
   <h1 style='text-align: center;color: gold;font-size: 45px; font-family:Courier New, monospace;'><strong>Welcome {{name}}!!</strong></h1>
   <section class="dashboard-section">
    <h4 style="font-size: 30px;text-align: center;"><a href="{{ url_for('home')}}">Go to tracker</a></h4>
    <h4 style="text-align: center;"><a href="{{ url_for('login')}}">Logout</a></h4>
   </section>
</html>