<head>
    <title>{{ title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<!--source: https://www.w3schools.com/html/html_styles.asp -->
<body>
    <div class="App">
        <header class="App-header">      
            <h1 style="color:gold; font-family:Courier New, monospace;">Brawl Stars Map Tracker</h1>
            <!--source: https://blog.hubspot.com/website/html-text-box -->
            <p>
                <label for="addMaps">Add Map:</label>
                <input type="text" id="addMaps" name="addMaps" placeholder="Enter Favorite Maps...">
            </p>
            <p>
                <label for="setEmail">Notifications:</label>
                <input type="text" id="setEmail" name="setEmail" placeholder="Enter Email Address...">
            </p>
            Current maps: 
            <p>
            {{mapMode1a}} - {{mapName1a}}
            </p>
            <p>
            {{mapMode1b}} - {{mapName1b}}
        </p>
        <p>
            {{mapMode2}} - {{mapName2}}
        </p>
        <p>
            {{mapMode3}} - {{mapName3}}
        </p>
        <p>
            {{mapMode4}} - {{mapName4}}
        </p>
        <p>
            {{mapMode5}} - {{mapName5}}
        </p>
        <p>
            {{mapMode6}} - {{mapName6}}
        </p>
        <p>
            {{mapMode7}} - {{mapName7}}
        </p>
        <p>
            {{mapMode8}} - {{mapName8}}
        </p>
        <p>
            {{mapMode9}} - {{mapName9}}
            </p>

        </header>
    </div>

</body>

</html>
