<head>
    <title>{{ title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header"  >      
            <h1>Brawl Stars Map Tracker</h1>
            <!--source: https://blog.hubspot.com/website/html-text-box -->
            <p>
                <label for="addMaps">Add Map:</label>
                <input type="text" id="addMaps" name="addMaps" placeholder="Enter Favorite Maps...">
            </p>
            <p>
                <label for="setEmail">Notifications:</label>
                <input type="text" id="setEmail" name="setEmail" placeholder="Enter Email Address...">
            </p>

        </header>
    </div>
</body>

</html>
