<head>
    <title>{{ title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<!--source: https://www.w3schools.com/html/html_styles.asp -->
<body>
    <div class="App">
        <header class="App-header">      
            <h1 style="color:gold; font-family:Courier New, monospace;">Brawl Stars Map Tracker</h1>
            <!--source: https://blog.hubspot.com/website/html-text-box -->
            <p>
                <form method="POST" action="/home">
                    <label for="addMaps">Add Map:</label>
                    <input type="text" id="addMaps" name="addMaps" placeholder="Enter Favorite Maps..." required>
                    <button type="submit">Add to Favorites</button>
                </form>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
                <div>
                    <p style="font-size: 20px">Your Favorite Maps</p>
                    <!--source:https://www.w3schools.com/html/html_lists.asp -->
                    <ol>
                        {% for favorite in favorites %}
                        <li>{{ favorite }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div>
                    <p style="font-size: 20px">Active Maps</p>
                    <ul>
                        {% for map in active_maps %}
                        <li>{{ map }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form>
                    <label for="setEmail">Set Email for notifications:</label>
                    <input type="text" id="setEmail" name="setEmail" placeholder="Enter Email Address..." required>
                    <button type="submit">Set Email</button>
                </form>
        </header>
    </div>

</body>

</html>
        