<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='custom.css')}}">
    <title>Brawl Stars Map Tracker Login</title>
</head>
<body>
    <section class="login-section">
        <h1>Welcome to Brawl Stars Map Tracker Login Page</h1>
        <form class="login-form" action="http://127.0.0.1:5000/login" method="POST">

            <p>Username:<input type="text" name="name" /></p>
            <p>PassWord:<input type="text" name="passWord" /></p>
            <p><input type="submit" name="enter"></p>
        </form>

    </section>
    
</body>
</html>