<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='custom.css')}}">
    <title>BrawlStarsMapTrackerRegistrationForm</title>
</head>
<body style="background-color:grey;">
    
    <h1 style='text-align: center;color: gold;font-size: 45px; font-family:Courier New, monospace;'>Register to Brawl Stars Map Tracker</h1>
    {% for message in form.name.errors %}
    <div>{{message}}</div>
    {% endfor %}

    {% for message in form.passWord.errors%}
    <div>{{message}}</div>
    {%endfor%}

    <form action="/registrationform" method='post'>
        {{form.hidden_tag}}
        
        <div class="table-section">
            <p>{{ form.name.label }}  {{ form.name }}</p>
            <p>{{ form.passWord.label }} {{ form.passWord }}</p>
            <p>{{ form.submit(class_="anchor-button") }}</p>
        </div>
    </form>
    <p style = "text-align: center;"><a href="{{ url_for('login')}}">Already have an account? Login here!</a></p>
</body>
</html>