<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='custom.css')}}">
    <title>BrawlStarsMapTracker</title>
</head>
<body style="background-color:grey;" >

    <form action="/successformsubmission" method='post'></form>
    <h1 style='text-align: center;color: gold;font-size: 45px; font-family:Courier New, monospace;'>Welcome {{name}}!! Brawl Stars Map Tracker Registration Completed Successfully.</h1>
    <div class="header-menu-section">
    <p><a class="anchor-button" href="{{url_for('login')}}"><strong>Login</strong></a></p>
</div>
</body>
</html>