<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='custom.css')}"}>
    <title>BrawlStarsMapTracker</title>
</head>
<body>

    <form action="https://localhost:5000/successformsubmission" method='post'></form>
    <h1 style='text-align: center;font-size: 30px;color: gold;'>Welcome {{userName}}!! BrawlStarsMapTracker Registration Completed Successfully.</h1>
    <div class="header-menu-section">
    <p><a class="anchor-button" href="{{url_for('home')}}"><strong>Home</strong></a></p>
    <p><a class="anchor-button" href="{{url_for('login')}}"><strong>Home</strong></a></p>
</div>
</body>
</html>